<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="title" content="<%= data.page.metatitle || data.settings.metatitle %>">
        <meta name="description" content="<%= data.page.metadescription || data.settings.metadescription %>">
        <meta name="keywords" content="<%= data.page.metakeywords || data.settings.metakeywords %>">
        <meta property="og:title" content="<%= data.page.metatitle || data.settings.ogtitle %>"/>
        <meta property="og:site_name" content="<%= data.settings.ogsitename %>"/>
        <meta property="og:image" content="<%= data.settings.ogimage %>"/>
        <meta property="og:description" content="<%= data.page.metadescription || data.settings.ogdescription %>"/>
        <meta name="viewport" content="width=device-width">

        <title><%= current_page.data.title || data.settings.sitetitle %></title>

        <link rel="stylesheet" href="stylesheets/normalize.css">
        <link rel="stylesheet" href="stylesheets/app.css">
        <script src="javascripts/vendor/modernizr.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience the web.</p>
        <![endif]-->

        <%= yield %>

        <script src="javascripts/app.js"></script>
    </body>
</html>
